<!DOCTYPE html>

{% extends "layout.html" %}

{% block body %}

<!-- Header -->

<!-- Student Table -->
<h2>Here is the current cohort and the instructors</h2>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Cohort
    </th>
  </tr>
{% for item in student_result_list %}
  <tr>
    <td>
      <a href="/profile/{{item.id}}">{{item.first_name}} {{item.last_name}}</a>
    </td>
    <td>
      {{item.cohort}}
    </td>
  </tr>
{% endfor %}
</table>

<!-- Instructor Table -->
<table>
  <tr>
    <th>
      Cohort Instructors
    </th>
  </tr>
  {% for item in instructor_result_list %}
  <tr>
    <td>
      <a href="/profile/{{item.id}}">{{item.first_name}} {{item.last_name}}</a>
    </td>
  </tr>
{% endfor %}
</table>
<br>

<h4>You can find all the various cohorts <a href="/all_students">here!</a></h4>

<br>
<br>
<br>
<hr>
<h2><a href="http://digitalcrafts.com/" target="_blank"><img class="digital-crafts" src="http://digitalcrafts.com/img/DigitalCrafts-Logo-Wrench.png" alt="" /></a></h2>
<p>DigitalCrafts is a 16-Week Coding Bootcamp in Atlanta and Houston. Their program covers 2 full web stacks over the course of 16 weeks, with a rotating elective in the evenings. Javascript, Node.js & the MEAN stack encompass some of the most cutting edge technologies today and are being used at companies like Google, LinkedIn, Netflix, Walmart, and PayPal. Python is an in-demand and versatile programming language widely used in both web development & the ever-growing field of data analytics.<br>
<br>
The curriculum at DigitalCrafts is proven and their graduates work at great companies like Home Depot, New York Times, Car & Driver, LiveAction, Soltech, Market America, Kredible, Piksel, Greater Sum, Big Nerd Ranch, Narwhal, RiskAlyze, Army of Bees, BridalLive, Liaison Technologies, and more.<br>
<br>
To learn more about DigitalCrafts and the program they offer, <a href="http://digitalcrafts.com/" target="_blank">click here</a>.
</p>

{% endblock %}
